<!DOCTYPE html>
<html>
    <head>
        <style>
            #checkList{
                padding: 20px;
                margin-bottom: 20px;
                border: 1px solid #bcbcbc;
                text-align: center; 
            }
            #form{
                font-size: 1.3em;
                width: 50%;
                display: inline-block; 
            }
            ::placeholder{ 
                font-size: 1.3em;
                font-family: 'Nanum Brush Script', cursive;
            }
            table{
                padding: 20px;
                width: 100%;
                height: 100px;
                margin: auto;
                text-align: center;
            }
            table, th, td {
                border: 1px solid #bcbcbc;
            }
            legend{
                font-size: 1.5em;
            }
        </style>
        <title>CHECK LIST</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script" rel="stylesheet">
        <style>
            body
            {
                font-family: 'Nanum Brush Script', cursive;
            }
            </style>
            <script type="text/javascript">
                function permission(key, permit2){        
                    //안에있는 객체 :  데이터
                    var postData = {
                        permit: permit2
                    };
                    
                    var updates = {};
                    // updates['/carkey/' + key] = postData;   //carkey : table 명, 키값                
                    // firebase.database().ref().update(updates);
                    console.log(key);
                    console.log(permit2);
                };
            </script>
    </head>
    <body>
        <div class="logoutform">
            <ul>
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
        <div id="checkList">
            <div id="form">
                <form action="/checkList", method="post">
                    <table>
                        <legend><b>차량 등록 확인</b></legend>
                        <colgroup>
                            <col width='8%'/>
                            <col width='15%'/>
                            <col width='*%'/>
                            <col width='*%'/>
                            <col width='*%'/>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>차주</th>
                                <th>차 번호</th>
                                <th>날짜</th>
                                <th>권한 허용</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%
                                for(var i=0; i<rows.length; i++){
                            %>  
                                <tr>
                                    <td><%=rows.length-i%></td>
                                    <td><%=rows[i].carowner%></td>
                                    <td><%=rows[i].carnum%></td>
                                    <td><%=rows[i].cdate%></td>
                                    <td>
                                        <%
                                            if (rows[i].permit) {
                                        %>
                                            <input type="text" name="<%=rows[i].key%>" value="완료" style="text-align:center; background-color: transparent;border:0; width:80px;" readonly="readonly">
                                        <%       
                                            } else {
                                        %>
                                            <input type="submit" name="<%=rows[i].key%>" value="허용" onclick="permission('<%=rows[i].key%>', true)">
                                        <%
                                            }
                                        %>
                                    </td>
                                </tr>   
                            <%         
                                }
                            %>                            
                        </tbody>
                    </table>
                    <br/><input type="button" name="checkList" value="조회" onclick="location.href='/checkList'"> <!--조회 클릭시 db에서 값 받아옴-->
                </form>
            </div>
        </div>

        

    </body>
</html>